@media(max-width:1600px)
{
    section.ourprocess-section .lastdot:before
    {
        right: 0;
        top: -68px;
    }
}
@media(min-width:1366px)
{
    section.ourprocess-section .lastdot:before
    {
        right: -4px;
        top:-61px;
    }
}
@media(max-width:576px)
{
.toggle 
{
    display: block;
    font-size: 20px;
    cursor: pointer;
}

  .desktop-menu nav 
  {
    flex-wrap: wrap;
  }

  .desktop-menu nav .collapse-menu 
  {
    display: block;
    width: 100%;
    height: 0;
    transition: height 0.3s ease;
    overflow: hidden;
  }

  .desktop-menu nav .collapse-menu.show 
  {
    height: 240px;
  }

  .desktop-menu nav .collapse-menu ul 
  {
    display: block;
    padding: 0;
    margin: 0;
  }

.desktop-menu nav ul li 
{
    display: block;
    width: 100%;
    margin-bottom: 7px;
}

.desktop-menu nav ul li:last-child 
{
    margin-bottom: 0;
}
.lets-talk
{
    display: none;
}
.mobile-talkbtn
{
    display: block;
}
.service-column h3
{
    height:auto;
}
.service-column p
{
    height: auto;
}
.line
{
    display: none;
}
section.home-banner
{
    height:1150px;
}
.banner-details h1
{
    font-size: 30px;
}
.tagline
{
    padding: 10px 16px 10px 40px;

}
.tagline p
{
    font-size: 14px;
}
.tagline:before
{
    width: 20px;
    left: 11px;
}
.form2
{
    width:100%;
    margin-top:30px;
    padding: 33px 28px 31px;
}
.title
{
    font-size: 24px;
}
.mt23
{
    margin: 0px;
}
.mt21
{
    margin: 0px;
}
.mt22
{
    margin: 0px;
}
.ptitle1, .ptitle2, .ptitle3, .ptitle4, .ptitle5 
{
    margin-top: 20px;
    margin-bottom: 20px;
}
.process-div:before, .process-div:after
{
    display: none;
}
section.cta-section .cta-div .custom-btn
{
    float: none;   
}
section.ourprocess-section .lastdot:before
{
    display: none !important;
}
.mobile-process-div
{
    margin-top:20px;
}
.upper-footer
{
    margin:0px !important;
}
.lower-footer
{
    text-align: center;
}
.lowerfooter-list
{
    float: none;   
}
.mobile-margin22
{
    margin-bottom: 20px;
}
section.contact-banner .shape1
{
    width:100%;
}
.contact-img 
{
    display: block;
    margin: auto;
    width: max-content;
}
}